<section class="">
    <!-- Footer -->
    <footer class="text-center text-black fixed-bottom" style=" background-color: rgb(255, 226, 247);">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: CTA -->
            <section class="">
                <p class="d-flex justify-content-center align-items-center">
                    <span class="me-3">Join Jirani Corner</span>
                    <button class="btn btn-outline-dark btn-rounded"><a href="{% url 'register' %}"> Sign
                            Up! </a></button>
                </p>
            </section>
            <!-- Section: CTA -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright: