
<nav class="navbar text-white" style=" background-color: rgb(255, 226, 247);">
 <!-- Navbar content -->
<div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
     
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <!-- Navbar brand -->
             
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
           
            <li class="nav-item">
                <a class="nav-link" href="{% url 'hoods' %}">Hoods</a>
            </li>
        </ul>
        
        <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
        <!-- Icon -->
        <!-- <a class="text-reset me-3" href="#">
            <i class="fas fa-shopping-cart"></i>
        <!-- / -->
        <a class="navbar-brand me-2" href=>
            <img src="static/Jirani_Logo.png" height="80px" alt="" style="margin-top:0;" />
        </a>
        <button class="btn btn-outline-dark btn-rounded"><a href="{% url 'home' %}"> Home </a></button>&nbsp;
         <button class="btn btn-outline-dark btn-rounded"><a href="{% url 'register' %}"> Register </a></button>
         
    &nbsp;
          <button class="btn btn-outline-dark btn-rounded"><a href="{% url 'userlogin' %}"> Log In </a></button>
        &nbsp;
         
         &nbsp;&nbsp;&nbsp;&nbsp;

        <!-- Avatar -->
        <div class="dropdown" style="padding-left:5px";>
            <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
                role="button" data-mdb-toggle="dropdown" aria-expanded="false">Profile
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                <li>
                    <a class="dropdown-item" href="{% url 'myprofile' %}">My profile</a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'logout' %}"">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Right elements -->
</div>
</nav>